/* coded by SabWaFei */
nav {
  background-color: pink;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.main-nav {
  display: none;
}
