/* coded by SabWaFei */

/* nav styling */
nav {
  background-color: pink;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  width: 90%;
}
.main-nav::before {
  /* add pointy tip to menu */
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 40px solid blue;
  border-left: 40px solid transparent;
  position: absolute;
  top: -40px;
  right: 0;
}
.main-nav {
  /* off by default */
  display: none;
  position: absolute;
  top: 120px;
  width: 90%;
  text-align: center;
  background-color: pink;
}
.main-nav > li {
  padding: 1.2rem 0.5rem 1.2rem 0.5rem;
}
.main-nav button {
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem 0.5rem 2rem;
}
/* desktop */
@media only screen and (min-width: 769px) {
  body {
    background-color: yellow;
  }
  .hamburger-menu {
    display: none;
  }
  nav {
    justify-content: space-between;
  }
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    position: static;
  }
}

/* end nav styling */
